<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
		<meta charset="UTF-8" />
		<title><%= title %></title>
		<link href="image/favicon.png" rel="icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="clean modern and elegant corporate look eCommerce html template">
		<meta name="author" content="">
		<!-- CSS Part Start-->
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/slideshow.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="stylesheets/flexslider.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="js/colorbox/colorbox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="stylesheets/carousel.css" media="screen" />
		<!-- CSS Part End-->
		<!-- JS Part Start-->
		<script type="text/javascript" src="javascript/eBayClient.js"></script>
		<script type="text/javascript" src="javascript/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="javascript/jquery.nivo.slider.pack.js"></script>
		<script type="text/javascript" src="javascript/jquery.flexslider.js"></script>
		<script type="text/javascript" src="javascript/jquery.easing-1.3.min.js"></script>
		<script type="text/javascript" src="javascript/jquery.jcarousel.min.js"></script>
		<script type="text/javascript" src="javascript/colorbox/jquery.colorbox-min.js"></script>
		<script type="text/javascript" src="javascript/tabs.js"></script>
		<script type="text/javascript" src="javascript/cloud_zoom.js"></script>
		<script type="text/javascript" src="javascript/jquery.dcjqaccordion.js"></script>
		<script type="text/javascript" src="javascript/custom.js"></script>
		<script type="text/javascript" src="javascript/html5.js"></script>
		<!-- JS Part End-->
		<!-- Google Fonts (Droid Sans) Start -->
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans&amp;v1' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=&amp;v1' rel='stylesheet' type='text/css'>
		<!-- Google Fonts (Droid Sans) End -->
	</head>
	<body>
		<div class="wrapper-box">
		  <div class="main-wrapper">
		    <!--Header Part Start-->
		    <header id="header">
		      <div class="htop">
		        <div id="language"> <span><%= userName%><b></b></span>
		          <ul>
		            <li><a title="My Account" href="fetchPersonDetails?isUpdate=no">My Account</a></li>
		            <li><a title="logout" href="logout">Sign Out</a></li>
		          </ul>
		        </div>
		        <div id="sell"><span><a href="sell">Sell</a><b></b></span></div>
		        <div class="links"><a href="fetchPersonDetails?isUpdate=no">My Account</a>My eBay</a><a href="displayPayment">Checkout</a> </div>
		      </div>
		      <section class="hsecond">
		        <div id="logo"><a href="home"><img src="images/ebayLogo.png" title="eBay" alt="eBay" /></a></div>
		        
		        <div id="search">
		        	<form method='get' action='searchProduct'>
			        	<div class="button-search">
			        		<input type='submit' id='search_btn' style="border:none;width:0px;" value=''/>
			        	</div>
			          	<input type="text" name="search" placeholder="Search" value="" />
		          	</form>
		        </div>
		        
		        <!--Mini Shopping Cart Start-->
		        <section id="cart">
		          <div class="heading">
		            <a href="fetchfromCart"><h4><img width="32" height="32" alt="" src="images/cart-bg.png"></h4><b>Cart</b></a>
				  </div>     
		        </section>
		        <!--Mini Shopping Cart End-->
		        
		        <div class="clear"></div>
		      </section>
		      
		      <!--Top Menu(Horizontal Categories) Start-->
		      <nav id="menu">
		        <ul>
		          <li class="categories_hor"><a>Categories</a>
		            <div>
		              <div class="column"><a href="searchProduct?category=electronics">Electronics</a>
		                <div>
		                  <ul>
		                    <li><a href="searchProduct?subcategory=HeadPhones">HeadPhones</a></li>
		                    <li><a href="searchProduct?subcategory=PCBs">PCBs</a></li>
		                    <li><a href="searchProduct?subcategory=Security Cameras">Security Cameras</a></li>
		                    <li><a href="searchProduct?subcategory=Lights & Reflectors">Lights & Reflectors</a></li>
		                    <li><a href="searchProduct?subcategory=Cigarettes">Cigarettes</a></li>
		                    <li><a href="searchProduct?subcategory=Microscopes">Microscopes</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="searchProduct?category=accesories">Accesories</a>
		                <div>
		                  <ul>
		                    <li><a href="searchProduct?subcategory=">Children's Jewellery</a></li>
		                    <li><a href="searchProduct?subcategory=">Men's Jewellery</a></li>
		                    <li><a href="searchProduct?subcategory=">Women's Jewellery</a></li>
		                    <li><a href="searchProduct?subcategory=">Sample Test</a></li>
		                    <li><a href="searchProduct?subcategory=">Sample Test11</a></li>
		                    <li><a href="searchProduct?subcategory=">Sample Test12</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="searchProduct?category=dress">Apparel</a>
		                <div>
		                  <ul>
		                    <li><a href="searchProduct?subcategory=Tops & Blouses">Tops & Blouses</a></li>
		                    <li><a href="searchProduct?subcategory=Kleider">Kleider</a></li>
		                    <li><a href="searchProduct?subcategory=Jackets & Leathers">Jackets & Leathers</a></li>
		                    <li><a href="searchProduct?subcategory=Sweaters">Sweaters</a></li>
		                    <li><a href="searchProduct?subcategory=Skirts">Skirts</a></li>
		                    <li><a href="searchProduct?subcategory=Medieval & Renaissance">Medieval & Renaissance</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="searchProduct?category=furniture">Furniture</a>
		                <div>
		                  <ul>
		                    <li><a href="searchProduct?subcategory=Sofas, Loveseats & Chaises">Sofas, Loveseats & Chaises</a></li>
		                    <li><a href="searchProduct?subcategory=Chairs & Seating">Chairs & Seating</a></li>
		                    <li><a href="searchProduct?subcategory=Furniture Parts & Accessories">Furniture Parts & Accessories</a></li>
		                    <li><a href="searchProduct?subcategory=Dollhouses">Dollhouses</a></li>
		                    <li><a href="searchProduct?subcategory=Stylist Stations & Furniture">Stylist Stations & Furniture</a></li>
		                    <li><a href="searchProduct?subcategory=Door Knockers">Door Knockers</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="searchProduct?category=books">Books</a>
		                <div>
		                  <ul>
		                    <li><a href="searchProduct?subcategory=Cookbooks">Cookbooks</a></li>
		                    <li><a href="searchProduct?subcategory=Textbooks, Education">Textbooks, Education</a></li>
		                    <li><a href="searchProduct?subcategory=Cartoon Character">Cartoon Character</a></li>
		                    <li><a href="searchProduct?subcategory=Atlases">Atlases</a></li>
		                    <li><a href="searchProduct?subcategory=American Vehicles">American Vehicles</a></li>
		                    <li><a href="searchProduct?subcategory=Other Children & Young Adults">Other Children & Young Adults</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="searchProduct?category=watch">Watches</a>
		                <div>
		                  <ul>
		                    <li><a href="searchProduct?subcategory=Wristwatches">Wristwatches</a></li>
		                    <li><a href="searchProduct?subcategory=Wristwatch Bands">Wristwatch Bands</a></li>
		                    <li><a href="searchProduct?subcategory=Montres classiques">Montres classiques</a></li>
		                    <li><a href="searchProduct?subcategory=Other">Other</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="searchProduct?category=cutlery">Kitchen</a>
		                <div>
		                  <ul>
		                    <li><a href="searchProduct?subcategory=Kitchen & Steak Knives">Kitchen & Steak Knives</a></li>
		                    <li><a href="searchProduct?subcategory=Loose Cutlery">Loose Cutlery</a></li>
		                    <li><a href="searchProduct?subcategory=Egg Cups">Egg Cups</a></li>
		                    <li><a href="searchProduct?subcategory=Besteck-Einzelteile">Besteck-Einzelteile</a></li>
		                    <li><a href="searchProduct?subcategory=Slicers">Slicers</a></li>
		                    <li><a href="searchProduct?subcategory=Cooking Utensils">Cooking Utensils</a></li>
		                  </ul>
		                </div>
		              </div>
		          </li>
		          <li><a target="_blank" href="searchProduct?category=electronics">Electronics</a>
		            <div>
		              <ul>
	               		<li><a href="searchProduct?subcategory=HeadPhones">HeadPhones</a></li>
	                    <li><a href="searchProduct?subcategory=PCBs">PCBs</a></li>
	                    <li><a href="searchProduct?subcategory=Security Cameras">Security Cameras</a></li>
	                    <li><a href="searchProduct?subcategory=Lights & Reflectors">Lights & Reflectors</a></li>
	                    <li><a href="searchProduct?subcategory=Cigarettes">Cigarettes</a></li>
	                    <li><a href="searchProduct?subcategory=Microscopes">Microscopes</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a target="_blank" href="searchProduct?category=accesories">Accesories</a>
		            <div>
		              <ul>
		                <li><a href="searchProduct?subcategory=">Children's Jewellery</a></li>
	                    <li><a href="searchProduct?subcategory=">Men's Jewellery</a></li>
	                    <li><a href="searchProduct?subcategory=">Women's Jewellery</a></li>
	                    <li><a href="searchProduct?subcategory=">Sample Test</a></li>
	                    <li><a href="searchProduct?subcategory=">Sample Test11</a></li>
	                    <li><a href="searchProduct?subcategory=">Sample Test12</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a target="_blank" href="searchProduct?category=dress">Apparel</a>
		            <div>
		              <ul>
		                <li><a href="searchProduct?subcategory=Tops & Blouses">Tops & Blouses</a></li>
	                    <li><a href="searchProduct?subcategory=Kleider">Kleider</a></li>
	                    <li><a href="searchProduct?subcategory=Jackets & Leathers">Jackets & Leathers</a></li>
	                    <li><a href="searchProduct?subcategory=Sweaters">Sweaters</a></li>
	                    <li><a href="searchProduct?subcategory=Skirts">Skirts</a></li>
	                    <li><a href="searchProduct?subcategory=Medieval & Renaissance">Medieval & Renaissance</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a target="_blank" href="searchProduct?category=furniture">Furniture</a>
		            <div>
		              <ul>
		                <li><a href="searchProduct?subcategory=Sofas, Loveseats & Chaises">Sofas, Loveseats & Chaises</a></li>
	                    <li><a href="searchProduct?subcategory=Chairs & Seating">Chairs & Seating</a></li>
	                    <li><a href="searchProduct?subcategory=Furniture Parts & Accessories">Furniture Parts & Accessories</a></li>
	                    <li><a href="searchProduct?subcategory=Dollhouses">Dollhouses</a></li>
	                    <li><a href="searchProduct?subcategory=Stylist Stations & Furniture">Stylist Stations & Furniture</a></li>
	                    <li><a href="searchProduct?subcategory=Door Knockers">Door Knockers</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a href="searchProduct?category=books">Books</a>
		            <div>
		              <ul>
		                <li><a href="searchProduct?subcategory=Cookbooks">Cookbooks</a></li>
	                    <li><a href="searchProduct?subcategory=Textbooks, Education">Textbooks, Education</a></li>
	                    <li><a href="searchProduct?subcategory=Cartoon Character">Cartoon Character</a></li>
	                    <li><a href="searchProduct?subcategory=Atlases">Atlases</a></li>
	                    <li><a href="searchProduct?subcategory=American Vehicles">American Vehicles</a></li>
	                    <li><a href="searchProduct?subcategory=Other Children & Young Adults">Other Children & Young Adults</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a href="searchProduct?category=watch">Watches</a>
		            <div>
		              <ul>
		                <li><a href="searchProduct?subcategory=Wristwatches">Wristwatches</a></li>
	                    <li><a href="searchProduct?subcategory=Wristwatch Bands">Wristwatch Bands</a></li>
	                    <li><a href="searchProduct?subcategory=Montres classiques">Montres classiques</a></li>
	                    <li><a href="searchProduct?subcategory=Other">Other</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a href="searchProduct?category=cutlery">Kitchen</a>
		            <div>
		              <ul>
		                <li><a href="searchProduct?subcategory=Kitchen & Steak Knives">Kitchen & Steak Knives</a></li>
	                    <li><a href="searchProduct?subcategory=Loose Cutlery">Loose Cutlery</a></li>
	                    <li><a href="searchProduct?subcategory=Egg Cups">Egg Cups</a></li>
	                    <li><a href="searchProduct?subcategory=Besteck-Einzelteile">Besteck-Einzelteile</a></li>
	                    <li><a href="searchProduct?subcategory=Slicers">Slicers</a></li>
	                    <li><a href="searchProduct?subcategory=Cooking Utensils">Cooking Utensils</a></li>
		              </ul>
		            </div>
		          </li>
		        </ul>
		      </nav>
		      <!--Top Menu(Horizontal Categories) End-->
		    </header>
		    <!--Header Part End-->
		    
			<div id="container">
		      <div id="column-left">
		        <!--Banner Start-->
		        <div class="banner">
		          <div><a href=""><img src="images/ProfileIcon.jpg" alt="banner" title="banner" /></a></div>
		          <div class="name"><a href="">Name: <%=firstName%> <%=lastName%></a></div>
		          <div class="name"><a href="">Address: <%=address%></a></div>
		          <div class="name"><a href="">City: <%=city%></a></div>
		          <div class="name"><a href="">State: <%=state%></a></div>
		          <div class="name"><a href="">Country: <%=country%></a></div>
		          <div class="name"><a href="">Zip code: <%=zipcode%></a></div>
		        </div>
		        <!--Banner End-->
		      </div>
		      <!--Middle Part Start-->
		      <div id="content">
		        <h2>
		        	<%=firstName%> <%=lastName%>
		        </h2>
		        <div class="product-filter">
		          <div class="links"> 
		        		<a href="fetchPersonDetails?isUpdate=yes">Update Account</a>
			         	<a href="biddingHistory">Bidding History</a>
			         	<a href="buyingHistory">Buying History</a>
		        		<a href="sellingHistory">Selling History</a>
		          </div>
		        </div>
		        <!--Product Grid Start-->
		        <div class="product-grid">
		        			      <!--Middle Part Start-->
		      <div id="content">
		        <h2>Update Personal Details</h2>
		        <form enctype="multipart/form-data" method="post" action="/updatePerson">
		          <div class="content">
		            <table class="form">
		              <tbody>
		                <tr>
		                  <td><span class="required">*</span> First Name:</td>
		                  <td><input class="large-field" type="text" value="<%=firstName%>" name="firstname" required></td>
		                </tr>
		                <tr>
		                  <td><span class="required">*</span> Last Name:</td>
		                  <td><input class="large-field" type="text" value="<%=lastName%>" name="lastname" required></td>
		                </tr>
		              </tbody>
		            </table>
		          </div>
		          <h2>Your Address</h2>
		          <div class="content">
		            <table class="form">
		              <tbody>
		                <tr>
		                  <td><span class="required">*</span> Address :</td>
		                  <td><input class="large-field" type="text" value="<%=address%>" name="address" required></td>
		                </tr>
		                <tr>
		                  <td><span class="required">*</span> City:</td>
		                  <td><input class="large-field" type="text" value="<%=city%>" name="city" required></td>
		                </tr>
		                <tr>
		                  <td><span class="required" id="postcode-required">*</span> Post Code:</td>
		                  <td><input class="large-field" type="text" value="<%=zipcode%>" name="zipcode" required></td>
		                </tr>
		                <tr>
		                  <td><span class="required" id="state-required">*</span> State:</td>
		                  <td><input class="large-field" type="text" value="<%=state%>" name="state" required></td>
		                </tr>
		                <tr>
		                  <td><span class="required">*</span> Country:</td>
		                  <td><select name="country">
		                      <option value=""><%=country%></option>
		                      <option value="Aaland Islands">Aaland Islands</option>
		                      <option value="Afghanistan">Afghanistan</option>
		                      <option value="Albania">Albania</option>
		                      <option value="Algeria">Algeria</option>
		                      <option value="American Samoa">American Samoa</option>
		                      <option value="Andorra">Andorra</option>
		                      <option value="Angola">Angola</option>
		                      <option value="Anguilla">Anguilla</option>
		                      <option value="Antarctica">Antarctica</option>
		                      <option value="Antigua and Barbuda">Antigua and Barbuda</option>
		                      <option value="Argentina">Argentina</option>
		                      <option value="Armenia">Armenia</option>
		                      <option value="Aruba">Aruba</option>
		                      <option value="Australia">Australia</option>
		                      <option value="Austria">Austria</option>
		                      <option value="Azerbaijan">Azerbaijan</option>
		                      <option value="Bahamas">Bahamas</option>
		                      <option value="Bahrain">Bahrain</option>
		                      <option value="Bangladesh">Bangladesh</option>
		                      <option value="Barbados">Barbados</option>
		                      <option value="Belarus">Belarus</option>
		                      <option value="Belgium">Belgium</option>
		                      <option value="Belize">Belize</option>
		                      <option value="Benin">Benin</option>
		                      <option value="Bermuda">Bermuda</option>
		                      <option value="Bhutan">Bhutan</option>
		                      <option value="Bolivia">Bolivia</option>
		                      <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
		                      <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
		                      <option value="Botswana">Botswana</option>
		                      <option value="Bouvet Island">Bouvet Island</option>
		                      <option value="Brazil">Brazil</option>
		                      <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
		                      <option value="Brunei Darussalam">Brunei Darussalam</option>
		                      <option value="Bulgaria">Bulgaria</option>
		                      <option value="Burkina Faso">Burkina Faso</option>
		                      <option value="Burundi">Burundi</option>
		                      <option value="Cambodia">Cambodia</option>
		                      <option value="Cameroon">Cameroon</option>
		                      <option value="Canada">Canada</option>
		                      <option value="Canary Islands">Canary Islands</option>
		                      <option value="Cape Verde">Cape Verde</option>
		                      <option value="Cayman Islands">Cayman Islands</option>
		                      <option value="Central African Republic">Central African Republic</option>
		                      <option value="Chad">Chad</option>
		                      <option value="Chile">Chile</option>
		                      <option value="China">China</option>
		                      <option value="Christmas Island">Christmas Island</option>
		                      <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
		                      <option value="Colombia">Colombia</option>
		                      <option value="Comoros">Comoros</option>
		                      <option value="Congo">Congo</option>
		                      <option value="Cook Islands">Cook Islands</option>
		                      <option value="Costa Rica">Costa Rica</option>
		                      <option value="Cote D'Ivoire">Cote D'Ivoire</option>
		                      <option value="Croatia">Croatia</option>
		                      <option value="Cuba">Cuba</option>
		                      <option value="Curacao">Curacao</option>
		                      <option value="Cyprus">Cyprus</option>
		                      <option value="Czech Republic">Czech Republic</option>
		                      <option value="Democratic Republic of Congo">Democratic Republic of Congo</option>
		                      <option value="Denmark">Denmark</option>
		                      <option value="Djibouti">Djibouti</option>
		                      <option value="Dominica">Dominica</option>
		                      <option value="Dominican Republic">Dominican Republic</option>
		                      <option value="East Timor">East Timor</option>
		                      <option value="Ecuador">Ecuador</option>
		                      <option value="Egypt">Egypt</option>
		                      <option value="El Salvador">El Salvador</option>
		                      <option value="Equatorial Guinea">Equatorial Guinea</option>
		                      <option value="Eritrea">Eritrea</option>
		                      <option value="Estonia">Estonia</option>
		                      <option value="Ethiopia">Ethiopia</option>
		                      <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
		                      <option value="Faroe Islands">Faroe Islands</option>
		                      <option value="Fiji">Fiji</option>
		                      <option value="Finland">Finland</option>
		                      <option value="France, Metropolitan">France, Metropolitan</option>
		                      <option value="French Guiana">French Guiana</option>
		                      <option value="French Polynesia">French Polynesia</option>
		                      <option value="French Southern Territories">French Southern Territories</option>
		                      <option value="FYROM">FYROM</option>
		                      <option value="Gabon">Gabon</option>
		                      <option value="Gambia">Gambia</option>
		                      <option value="Georgia">Georgia</option>
		                      <option value="Germany">Germany</option>
		                      <option value="Ghana">Ghana</option>
		                      <option value="Gibraltar">Gibraltar</option>
		                      <option value="Greece">Greece</option>
		                      <option value="Greenland">Greenland</option>
		                      <option value="Grenada">Grenada</option>
		                      <option value="Guadeloupe">Guadeloupe</option>
		                      <option value="Guam">Guam</option>
		                      <option value="Guatemala">Guatemala</option>
		                      <option value="Guernsey">Guernsey</option>
		                      <option value="Guinea">Guinea</option>
		                      <option value="Guinea-Bissau">Guinea-Bissau</option>
		                      <option value="Guyana">Guyana</option>
		                      <option value="Haiti">Haiti</option>
		                      <option value="Heard and Mc Donald Islands">Heard and Mc Donald Islands</option>
		                      <option value="Honduras">Honduras</option>
		                      <option value="Hong Kong">Hong Kong</option>
		                      <option value="Hungary">Hungary</option>
		                      <option value="Iceland">Iceland</option>
		                      <option value="India">India</option>
		                      <option value="Indonesia">Indonesia</option>
		                      <option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>
		                      <option value="Iraq">Iraq</option>
		                      <option value="Ireland">Ireland</option>
		                      <option value="Israel">Israel</option>
		                      <option value="Italy">Italy</option>
		                      <option value="Jamaica">Jamaica</option>
		                      <option value="Japan">Japan</option>
		                      <option value="Jersey">Jersey</option>
		                      <option value="Jordan">Jordan</option>
		                      <option value="Kazakhstan">Kazakhstan</option>
		                      <option value="Kenya">Kenya</option>
		                      <option value="Kiribati">Kiribati</option>
		                      <option value="Korea, Republic of">Korea, Republic of</option>
		                      <option value="Kuwait">Kuwait</option>
		                      <option value="Kyrgyzstan">Kyrgyzstan</option>
		                      <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
		                      <option value="Latvia">Latvia</option>
		                      <option value="Lebanon">Lebanon</option>
		                      <option value="Lesotho">Lesotho</option>
		                      <option value="Liberia">Liberia</option>
		                      <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
		                      <option value="Liechtenstein">Liechtenstein</option>
		                      <option value="Lithuania">Lithuania</option>
		                      <option value="Luxembourg">Luxembourg</option>
		                      <option value="Macau">Macau</option>
		                      <option value="Madagascar">Madagascar</option>
		                      <option value="Malawi">Malawi</option>
		                      <option value="Malaysia">Malaysia</option>
		                      <option value="Maldives">Maldives</option>
		                      <option value="Mali">Mali</option>
		                      <option value="Malta">Malta</option>
		                      <option value="Marshall Islands">Marshall Islands</option>
		                      <option value="Martinique">Martinique</option>
		                      <option value="Mauritania">Mauritania</option>
		                      <option value="Mauritius">Mauritius</option>
		                      <option value="Mayotte">Mayotte</option>
		                      <option value="Mexico">Mexico</option>
		                      <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
		                      <option value="Moldova, Republic of">Moldova, Republic of</option>
		                      <option value="Monaco">Monaco</option>
		                      <option value="Mongolia">Mongolia</option>
		                      <option value="Montenegro">Montenegro</option>
		                      <option value="Montserrat">Montserrat</option>
		                      <option value="Morocco">Morocco</option>
		                      <option value="Mozambique">Mozambique</option>
		                      <option value="Myanmar">Myanmar</option>
		                      <option value="Namibia">Namibia</option>
		                      <option value="Nauru">Nauru</option>
		                      <option value="Nepal">Nepal</option>
		                      <option value="Netherlands">Netherlands</option>
		                      <option value="Netherlands Antilles">Netherlands Antilles</option>
		                      <option value="New Caledonia">New Caledonia</option>
		                      <option value="New Zealand">New Zealand</option>
		                      <option value="Nicaragua">Nicaragua</option>
		                      <option value="Niger">Niger</option>
		                      <option value="Nigeria">Nigeria</option>
		                      <option value="Niue">Niue</option>
		                      <option value="Norfolk Island">Norfolk Island</option>
		                      <option value="North Korea">North Korea</option>
		                      <option value="Northern Mariana Islands">Northern Mariana Islands</option>
		                      <option value="Norway">Norway</option>
		                      <option value="Oman">Oman</option>
		                      <option value="Pakistan">Pakistan</option>
		                      <option value="Palau">Palau</option>
		                      <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
		                      <option value="Panama">Panama</option>
		                      <option value="Papua New Guinea">Papua New Guinea</option>
		                      <option value="Paraguay">Paraguay</option>
		                      <option value="Peru">Peru</option>
		                      <option value="Philippines">Philippines</option>
		                      <option value="Pitcairn">Pitcairn</option>
		                      <option value="Poland">Poland</option>
		                      <option value="Portugal">Portugal</option>
		                      <option value="Puerto Rico">Puerto Rico</option>
		                      <option value="Qatar">Qatar</option>
		                      <option value="Reunion">Reunion</option>
		                      <option value="Romania">Romania</option>
		                      <option value="Russian Federation">Russian Federation</option>
		                      <option value="Rwanda">Rwanda</option>
		                      <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
		                      <option value="Saint Lucia">Saint Lucia</option>
		                      <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
		                      <option value="Samoa">Samoa</option>
		                      <option value="San Marino">San Marino</option>
		                      <option value="Sao Tome and Principe">Sao Tome and Principe</option>
		                      <option value="Saudi Arabia">Saudi Arabia</option>
		                      <option value="Senegal">Senegal</option>
		                      <option value="Serbia">Serbia</option>
		                      <option value="Seychelles">Seychelles</option>
		                      <option value="Sierra Leone">Sierra Leone</option>
		                      <option value="Singapore">Singapore</option>
		                      <option value="Slovak Republic">Slovak Republic</option>
		                      <option value="Slovenia">Slovenia</option>
		                      <option value="Solomon Islands">Solomon Islands</option>
		                      <option value="Somalia">Somalia</option>
		                      <option value="South Africa">South Africa</option>
		                      <option value="South Georgia &amp; South Sandwich Islands">South Georgia &amp; South Sandwich Islands</option>
		                      <option value="South Sudan">South Sudan</option>
		                      <option value="Spain">Spain</option>
		                      <option value="Sri Lanka">Sri Lanka</option>
		                      <option value="St. Barthelemy">St. Barthelemy</option>
		                      <option value="St. Helena">St. Helena</option>
		                      <option value="St. Martin (French part)">St. Martin (French part)</option>
		                      <option value="St. Pierre and Miquelon">St. Pierre and Miquelon</option>
		                      <option value="Sudan">Sudan</option>
		                      <option value="Suriname">Suriname</option>
		                      <option value="Svalbard and Jan Mayen Islands">Svalbard and Jan Mayen Islands</option>
		                      <option value="Swaziland">Swaziland</option>
		                      <option value="Sweden">Sweden</option>
		                      <option value="Switzerland">Switzerland</option>
		                      <option value="Syrian Arab Republic">Syrian Arab Republic</option>
		                      <option value="Taiwan">Taiwan</option>
		                      <option value="Tajikistan">Tajikistan</option>
		                      <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
		                      <option value="Thailand">Thailand</option>
		                      <option value="Togo">Togo</option>
		                      <option value="Tokelau">Tokelau</option>
		                      <option value="Tonga">Tonga</option>
		                      <option value="Trinidad and Tobago">Trinidad and Tobago</option>
		                      <option value="Tunisia">Tunisia</option>
		                      <option value="Turkey">Turkey</option>
		                      <option value="Turkmenistan">Turkmenistan</option>
		                      <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
		                      <option value="Tuvalu">Tuvalu</option>
		                      <option value="Uganda">Uganda</option>
		                      <option value="Ukraine">Ukraine</option>
		                      <option value="United Arab Emirates">United Arab Emirates</option>
		                      <option value="United Kingdom">United Kingdom</option>
		                      <option value="United States">United States</option>
		                      <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
		                      <option value="Uruguay">Uruguay</option>
		                      <option value="Uzbekistan">Uzbekistan</option>
		                      <option value="Vanuatu">Vanuatu</option>
		                      <option value="Vatican City State (Holy See)">Vatican City State (Holy See)</option>
		                      <option value="Venezuela">Venezuela</option>
		                      <option value="Viet Nam">Viet Nam</option>
		                      <option value="Virgin Islands (British)">Virgin Islands (British)</option>
		                      <option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
		                      <option value="Wallis and Futuna Islands">Wallis and Futuna Islands</option>
		                      <option value="Western Sahara">Western Sahara</option>
		                      <option value="Yemen">Yemen</option>
		                      <option value="Zambia">Zambia</option>
		                      <option value="Zimbabwe">Zimbabwe</option>
		                    </select></td>
		                </tr>
		              </tbody>
		            </table>
		          </div>
		          <div class="buttons">
		            <div class="left">
		              <input type="submit" class="button" value="Update">
		            </div>
		          </div>
		        </form>
		      </div>
		      <!--Middle Part End-->
		        </div>
		        <!--Product Grid End-->
		      </div>
		      <!--Middle Part End-->
		      <div class="clear"></div>
		    </div>
		  </div>
		  <!--Footer Part Start-->
		  <footer id="footer">
		    <div class="fpart-inner">
		      <div class="column">
		        <h3>Information</h3>
		        <ul>
		          <li><a href="about-us.html">About Us</a></li>
		          <li><a href="about-us.html">Delivery Information</a></li>
		          <li><a href="about-us.html">Privacy Policy</a></li>
		          <li><a href="elements.html">Elements</a></li>
		        </ul>
		      </div>
		      <div class="column">
		        <h3>Customer Service</h3>
		        <ul>
		          <li><a href="contact-us.html">Contact Us</a></li>
		          <li><a href="#">Returns</a></li>
		          <li><a href="sitemap.html">Site Map</a></li>
		        </ul>
		      </div>
		      <div class="column">
		        <h3>Extras</h3>
		        <ul>
		          <li><a href="#">Brands</a></li>
		          <li><a href="#">Gift Vouchers</a></li>
		          <li><a href="#">Affiliates</a></li>
		          <li><a href="#">Specials</a></li>
		        </ul>
		      </div>
		      <div class="column">
		        <h3>My Account</h3>
		        <ul>
		          <li><a href="#">My Account</a></li>
		          <li><a href="#">Order History</a></li>
		          <li><a href="#">Wish List</a></li>
		          <li><a href="#">Newsletter</a></li>
		        </ul>
		      </div>
		      <!-- Contact Details Start-->
		      
		      <!-- Contact Details End-->
		      <div class="clear"></div>
		      <div id="powered">
		        <!-- Payment Images Icon Start-->
		        <div class="payments_types part3"> <img src="images/payment_paypal.png" alt="paypal" title="PayPal"> <img src="images/payment_american.png" alt="american-express" title="American Express"> <img src="images/payment_2checkout.png" alt="2checkout" title="2checkout"> <img src="images/payment_maestro.png" alt="maestro" title="Maestro"> <img src="images/payment_discover.png" alt="discover" title="Discover"> </div>
		        <!-- Payment Images Icon End-->
		        <!-- Powered by Text Start-->
		        <div class="powered_text part3">
		          <p>eBay @ 2014<br />
		        </div>
		        <!-- Powered by Text End-->
		        <!-- Follow Social Icons Start-->
		        <div class="social part3"> <a href="http://facebook.com" target="_blank"><img src="images/facebook.png" alt="Facebook" title="Facebook"></a> <a href="https://twitter.com/#!/harnishdesign" target="_blank"><img src="images/twitter.png" alt="Twitter" title="Twitter"> </a> <a href="#" target="_blank"> <img src="images/googleplus.png" alt="Google+" title="Google+"> </a> <a href="#" target="_blank"> <img src="images/pinterest.png" alt="Pinterest" title="Pinterest"> </a> <a href="#" target="_blank"> <img src="images/rss.png" alt="RSS" title="RSS"> </a> <a href="http://www.vimeo.com/#" target="_blank"> <img src="images/vimeo.png" alt="Vimeo" title="Vimeo"> </a> </div>
		        <!-- Follow Social Icons End-->
		        <div class="clear"></div>
		      </div>
		      <!-- Back to Top Button Start-->
		      <div class="back-to-top" id="back-top"><a title="Back to Top" href="javascript:void(0)" class="backtotop">Top</a></div>
		      <!-- Back to Top Button End-->
		    </div>
		  </footer>
		  <!--Footer Part End-->
		</div>
	</body>
</html>